// Theam Day
$brand: #82cf8f;
$lightGreen: #e1f1e4;
$bg: #f9f9f9;
$black: #1e2939;
$black-1: #383838;
$white: white;
$grey: #b6b6b6;
$badge: #fafafa;
$orange: #fecd9e;
$placeholder: #c2c5c8;

// Border
$Border: #e6e9ed;

//Font family
$font-main: "Segoe UI", sans-serif;
