.card-message{
    width: 100%;
    max-width: 260px;
    @include flex(flex, center, normal);
    @include card;
    flex-direction: row;
    padding: 1rem;
    @include media-breakpoint-down(sm) { 
        width: auto;
        height: auto;
        padding: 0;
        overflow: initial;
        &:after{
            content: " ";
            display: block;
            width: 16px;
            height: 16px;
            background-color: $brand;
            z-index: 1;
            border-radius: 100%;
            border: 3px solid $bg;
            @include position(absolute, 0, -3px, auto, auto)
        }
     }
    .card-img-left{
        width: 52px;
        height: 52px;
        border-radius: 6px;
        @include media-breakpoint-down(sm) { 
            border-radius: 100%;
        }
    }
    .card-body{
        padding: 0;
        padding-left: 1rem;
        @include media-breakpoint-down(sm) { 
            display: none;
         }
        .card-title{
            @include font-family($font-main, 1em, $black, 700, 1em);
            margin-bottom: 0.4rem;
        }
        .card-text{
            @include font-family($font-main, 0.78em, $black, 600, 1em);
        }
    }
}