.page-loader {
  @include position(fixed, 0, auto, auto, 0);
  @include flex(flex, center, center);
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: white;
  overflow: hidden;
  article {
    img {
      display: block;
      margin: 0 auto;
    }
    h3 {
      @include font-family($font-main, 1.8em, $black, 600, 1em);
      margin-top: 2rem;
    }
  }
}
