.total{
    @include card;
    .card-body{
        .content{
            @include flex(flex, center, normal);
            article{
                flex: 1 1 0;
                .card-title{
                    font-weight: 600;
                    margin-bottom: 0.3rem;
                    @include font-family($font-main, 1.8em, $black, 600, 1);
                    @include flex(flex, center, normal);
                    .icon{
                        margin-top: 0.3rem;
                    }
                }
                .card-text{
                    font-size: 0.8em;
                }
            }
        }
        .btn{
            width: 170px;
            height: 65px;
            border-radius: 20px;
            padding: 0;
            margin-top: 2rem ;
            background-color: $brand;
            @include font-family($font-main, 1em, $white, 600, 1);
            @include hover-active{
                background-color: rgba($brand, 0.7);
            }
        }

    }
}