h2{
    @include font-family($font-main, 1.7em, $black, 600, 1);
    margin-bottom: 2.5rem;
    @include media-breakpoint-down(md) { 
        font-size: 1.4em;
        margin-bottom: 1.5rem;
    }
    @include media-breakpoint-down(sm) { 
        font-size: 1.2em;
     }
}