.app-donation {
  .row > div {
    position: relative;
    &:first-child {
      padding-right: 2rem;
      @include media-breakpoint-down(md) {
        padding-right: 1rem;
      }
    }
    &:last-child {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .article-donation {
    width: 100%;
    padding: 0 1rem;
    margin-top: 1rem;
    p {
      @include font-family($font-main, 0.9em, $grey, 400, 1.3em);
    }
  }
  .wrap {
    @include media-breakpoint-only(md) {
      display: flex;
      > div {
        flex: 1 1 0;
      }
    }
  }
}
